{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Create Plate
{% endblock %}
{% block styles %}
{{ super() }}
        <link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">

	<div class="container">
		<!-- The form will post to the "/create_plate" route -->
		<form class="form-create-plate" method="POST" action="/create_plate">
			<h2 class="form-create-plate-heading"> Create Your Plate </h2>
			{{ form.hidden_tag() }}
			<!-- Create the username password and remember-me forms -->
			{{ wtf.form_field(form.plate_name) }}
			{{ wtf.form_field(form.items) }}
			{{ wtf.form_field(form.price) }}
			{{ wtf.form_field(form.description) }}
			<button class="btn btn-lg btn-primary btn-block" type="submit">Create Plate</button>
		</form>
	</div>
</div>
  </div>
{% endblock %}

