{% extends "home.html" %}

{% block searchbar %}

<div class="container">
    <div class="row">    
        <div class="col-xs-8 col-xs-offset-2">
            <div class="input-group">
                <div class="input-group-btn search-panel">
                <form role="form" method="POST" action="{{url_for('search', filter="None")}}">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="{{url_for('search',filter="Chef")}}">Chef</a></li>
                      <li><a href="{{url_for('search',filter="Food")}}">Food Type</a></li>
                      <li><a href="{{url_for('search',filter="Location")}}">Location</a></li>
                      <li class="divider"></li>
                      <li><a href="#all">Anything</a></li>
                    </ul>
                </div>
                    <input type="hidden" name="search_param" value="all" id="search_param">         
                    <input type="text" class="form-control" name="search_input" placeholder="Search term...">
                </form>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>
</div>

{% endblock %}
